<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/styles.css">
    <link rel="icon" href="/images/png/logo.png">
    <title>DarkSamurai - FullStack Developer </title>
</head>

<body>

    <div class="top-container">
        <nav>
            <img class="logo" src="/images/png/logo.png" alt="Samurai Logo" />
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Work</a></li>
                <li><a href="#">Contact Me</a></li>
            </ul>
        </nav>
        <h1 class="name">I'm DarkSamurai</h1>
        <h2 class="hobbies">FullStack Developer</p>
            <img class="mountain" src="/images/png/samurai.png" alt="mountain">
    </div>
    <div class="middle-container">
        <div class="profile">
            <img class="darksamurai-photo" src="/images/png/darksamurai.png" alt="DarkSamurai Photo">
            <h2 class="profile-hello ">Hello.</h2>
            <p class="profile-p ">Lorem ipsum dolor sit amet, vitae volutpat, dui conubia, dolor urna. Non auctor, montes nulla distinctio.</p>
        </div>
        <hr>


        <div class="skills ">
            <h2 style="margin-top: 40px;">My Skills.</h2>
            <div class="skill-row1">
                <img class="computer-photo" src="/images/png/computer.png " alt="Computer ">
                <h3 class="skill-row-web">Web Development</h3>
                <p class="skill-row-p">Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
            </div>
            <div class="skill-row2">
                <img class="word-photo" src="/images/png/rooster.png " alt="Word In Japanese">
                <h3 class="skill-row-cultare">Samurai's Cultare!</h3>
                <p class="skill-row-p2">Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
            </div>
        </div>
        <hr>
        <div class="contact-me ">
            <h2>Get In Touch</h2>
            <h3>Lorem ipsum dolor sit amet, non elit.</h3>
            <p>Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales, tellus donec dui, ornare erat.</p>
            <a class="btn" href="mailto:name@email.com ">CONTACT ME</a>
        </div>
    </div>


    <div class="bottom-container ">
        <a class="footer-link " href="https://www.linkedin.com/ ">LinkedIn</a>
        <a class="footer-link " href="https://twitter.com/ ">Twitter</a>
        <a class="footer-link " href="https://www.appbrewery.co/ ">Website</a>
        <p class="copy-right">© DarkSamurai Copyright.</p>
        <img class="pigeon" src="/images/png/pigeon.png" alt="pigeon">
    </div>

</body>

</html>